{% block upload %}
<form enctype="multipart/form-data" action="/upload" method="post">
  <input type="file" name="uploadfile" />
  <input type="hidden" name="token" value="{{ Token }}"/>
  <input type="submit" value="upload" />
</form>
{% endblock %}
