/*alphabetical classes, ids*/
.allContent {
  padding: 10px 10px 10px 10px;
}
.float-right {
  float: right;
}
.float-right + * {
  clear: both;
}
.header {

}
.mainContent {
  margin-top: 20px;
}
.editForm {
  background-color: slategray;
}
/*.editForm input,*/
/*.editForm label{*/
  /*display: inline-block;*/
/*}*/
.TopTitle {
  margin-top: 5px;
}

#sidebar > a {
  display: inline-block;
  min-width: 40px;
  padding: 5px;
  text-decoration: none;
}

#content {
  background-color: rgba(200, 200, 200, 0.5);
  padding: 10px 20px;
}
/*
Section for media queries screens not mobile.
mobile first ya'll
*/
@media (min-width: 660px) {
  /*alphabetical classes, ids*/
  .allContent {
    padding: 10px 10px 10px 10px;
  }
  .float-right {
    float: right;
  }
  .float-right + * {
    clear: both;
  }
  .header {

  }
  .mainContent {
    margin-top: 20px;
  }

  .TopTitle {
    margin-top: 5px;
  }

  #sidebar > a {
    display: inline-block;
    min-width: 40px;
    padding: 5px;
    text-decoration: none;
  }

  #content {
    background-color: rgba(200, 200, 200, 0.5);
    padding: 10px 20px;
  }
}