body {
    background-color: white;

}


iframe {
    margin-bottom: 60px;
}
.container {
    width: 100%;
    max-width: 960px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.HideInfo {
    display: none;
    padding: 10px;
    margin-top: 5px;
    background: rgba(11, 11, 11, 0.6);
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.HideInfo > a {
    /*display: inline-block;*/
    color: #ffffff;
}
.HideInfo > a:hover {
    /*display: inline-block;*/
    color: #dddddd;
}
.ShowInfo {
    display: inline-block;
    cursor: pointer;
    float: right;
}


#mainDiv,
#aboutUsSpacer {
    padding-bottom: 10px;
    position: fixed;
    padding-left: 0px;
    top: 0px;
    width: 100%;
    max-width: 960px;
    background-color: white;
    height: 120px;
    z-index:5000;
}

#mainDiv > h1, #mainDiv > a {
    padding: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;

}
#mainDiv > div {
    display: inline-block;
}
#nav {
    z-index: 5000;
}
#nav > a {
    padding-left: 5px;
    text-decoration: none;
}
#navSoc {
    float: right;
    padding-right: 30px;
}

.Event {
    padding: 5px;
}
.Event > div > a {
    text-decoration: none;
}
.Event > div > a > span:first-child {
    width: 55px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.Event > div > a > span:last-child {
    width: 75%;
    display: inline-block;
    vertical-align: top;
}
.EventTitle {
    font-size: 16px;
}
#aboutUs {

}
a.anchor {
    display: block;
    position: relative;
    top: -135px;
    visibility: hidden;
}
#instaMobile {
    display: none;
}
a {
    text-decoration: none;
    color: black
}
#mainDiv > a:hover {
    background-color: #aaaaaa;
}

/*this checks for a screen size of max-width: 960px and when the screen is samller these styles will take effect*/
@media (max-width: 960px)
{
    #mainDiv > a {
        margin-bottom: 0px;
        padding-left: 0px;
    }
    #instaMobile {
        display: inline-block;
    }
    #instaDesk {
        display: none;
    }
    .ShowInfo {
        display: block;
    }
    .Event > div > a > span:last-child {
        width: auto;
    }
    body {
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
    }
}
@media (max-width: 760px) {
    .HideMobile {
        display: none;
    }
    .ShowInfo {
        float: none;
    }
}

@media (max-width: 350px) {
    #mainDiv {
        left: 2px;
    }
}