<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style/main.css" />
    <title>{% block title %}the SonicHood{% endblock %}</title>
</head>

<body class="mainContent">
    <div id="sidebar">
      {% block sidebar %}
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/register/">Register</a>
      <a href="/dungeon/">Dungeon</a>
      {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        <p>default content</p>
        {% endblock %}
    </div>
</body>
{% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
{% endblock %}
</html>
