{% extends "shared/main.html" %}

{% block title %}Register for the SonicHood {% endblock %}

{% block content %}
<form action="/register" method="post">
  Username:<input type="text" name="username"><br>
  Password:<input type="password" name="password"><br>
  Password:<input type="password" name="password2"><br>
  Email:<input type="email" name="email"><br>
  <input type="hidden" name="token" value="{{ Token }}">
  <input type="submit" value="Login">
</form>
{% endblock %}
